# Sentiment Analysis

The next blocks of code conducts sentiment analysis on the news headlines collected. We create 6 dataframe of news from different sources and we get the subjectivity and polarity of the headlines.

In [ ]:
import pandas as pd

In [34]:
business = pd.read_csv("business_news.csv")
us_news = pd.read_csv("us_news.csv")
tech = pd.read_csv("tech_news.csv")
world = pd.read_csv("world_news.csv")
c1 = pd.read_csv("commodities1.csv")
c2 = pd.read_csv("commodities2.csv")

In [35]:
business

,Unnamed: 0,headline,category,short_description,date
0,0,REI Workers At Berkeley Store Vote To Unionize...,BUSINESS,They follow in the footsteps of REI workers in...,2022-08-25
1,1,Twitter Lawyer Calls Elon Musk 'Committed Enem...,BUSINESS,Delaware Chancery Judge Kathaleen McCormick de...,2022-07-20
2,2,"Starbucks Leaving Russian Market, Shutting 130...",BUSINESS,Starbucks' move follows McDonald's exit from t...,2022-05-23
3,3,Crypto Crash Leaves Trading Platform Coinbase ...,BUSINESS,Cryptocurrency trading platform Coinbase has l...,2022-05-12
4,4,"US Added 428,000 Jobs In April Despite Surging...",BUSINESS,"At 3.6%, unemployment nearly reached the lowes...",2022-05-06
...,...,...,...,...,...
7743,7743,Four More Bank Closures Mark the Week of Janua...,BUSINESS,The general pattern of the FDIC closing banks ...,2012-01-28
7744,7744,Everything You Need To Know About Overdraft Fe...,BUSINESS,Don't like keeping all of your money stuffed u...,2012-01-28
7745,7745,Walmart Waving Goodbye To Some Greeters,BUSINESS,"After 30 years, ""People Greeters"" will no long...",2012-01-28
7746,7746,"At World Economic Forum, Fear of Global Contag...",BUSINESS,"For decades, as crises have assailed developin...",2012-01-28
7747,7747,Positive Customer Experience: What's the Retur...,BUSINESS,"""Analysts at Adobe combined historical purchas...",2012-01-28

In [36]:
us_news

,Unnamed: 0,Heading,Article,Date
0,0,Over 4 Million Americans Roll Up Sleeves For O...,Health experts said it is too early to predict...,2022-09-23
1,1,"American Airlines Flyer Charged, Banned For Li...",He was subdued by passengers and crew when he ...,2022-09-23
2,2,Woman Who Called Cops On Black Bird-Watcher Lo...,Amy Cooper accused investment firm Franklin Te...,2022-09-22
3,3,Cleaner Was Dead In Belk Bathroom For 4 Days B...,The 63-year-old woman was seen working at the ...,2022-09-22
4,4,Reporter Gets Adorable Surprise From Her Boyfr...,"""Who's that behind you?"" an anchor for New Yor...",2022-09-22
...,...,...,...,...
1607,1607,World Bank announces 57 bln in financing for Afri,strong>WASHINGTON: The World Bank on Sunday an...,2017-03-20
1608,1608,Uber grounds self driving cars after accid,strong>WASHINGTON: Uber has grounded its fleet...,2017-03-26
1609,1609,Trump son in law 4 bn deal Chinese company,strong>WASHINGTON: A company owned by the fami...,2017-03-14
1610,1610,World Bank announces 57 bln in financing for Afri,strong>WASHINGTON: The World Bank on Sunday an...,2017-03-20
1611,1611,Uber grounds self driving cars after accid,strong>WASHINGTON: Uber has grounded its fleet...,2017-03-26

In [37]:
tech

,Unnamed: 0,index,headline,category,short_description,date
0,0,13,Twitch Bans Gambling Sites After Streamer Scam...,TECH,One man's claims that he scammed people on the...,2022-09-21
1,1,55,TikTok Search Results Riddled With Misinformat...,TECH,A U.S. firm that monitors false online claims ...,2022-09-14
2,2,103,Citing Imminent Danger Cloudflare Drops Hate S...,TECH,Cloudflare CEO Matthew Prince had previously r...,2022-09-05
3,3,452,Instagram And Facebook Remove Posts Offering A...,TECH,Facebook and Instagram began removing some of ...,2022-06-28
4,4,529,Google Engineer On Leave After He Claims AI Pr...,TECH,Artificially intelligent chatbot generator LaM...,2022-06-12
...,...,...,...,...,...,...
2099,2099,209518,Google+ Now Open for Teens With Some Safeguards,TECH,"For the most part, teens' experience on Google...",2012-01-28
2100,2100,209519,Web Wars,TECH,"These ""Web Wars"" threaten to rage on for some ...",2012-01-28
2101,2101,209520,"First White House Chief Technology Officer, An...",TECH,He was appointed with a fair bit of fanfare as...,2012-01-28
2102,2102,209521,Watch The Top 9 YouTube Videos Of The Week,TECH,If you're looking to see the most popular YouT...,2012-01-28
2103,2103,209522,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,TECH,Verizon Wireless and AT&T are already promotin...,2012-01-28

In [38]:
world

,Unnamed: 0,Heading,Article,Date
0,0,Puerto Ricans Desperate For Water After Hurric...,More than half a million people remained witho...,2022-09-22
1,1,Biden At UN To Call Russian War An Affront To ...,White House officials say the crux of the pres...,2022-09-21
2,2,World Cup Captains Want To Wear Rainbow Armban...,FIFA has come under pressure from several Euro...,2022-09-21
3,3,Man Sets Himself On Fire In Apparent Protest O...,The incident underscores a growing wave of pro...,2022-09-21
4,4,Fiona Threatens To Become Category 4 Storm Hea...,Hurricane Fiona lashed the Turks and Caicos Is...,2022-09-21
...,...,...,...,...
4343,4343,Chinese train manufacturer wins railcar bid in US,strong>BEIJING: A Chinese rail company has won...,2017-03-25
4344,4344,Laptop ban hits Dubai for 11m weekend traveller,strong>DUBAI: Dubai International Airport and ...,2017-03-25
4345,4345,Pak China relations not against any third coun...,"strong>BEIJING: Former Prime Minister, Shaukat...",2017-03-26
4346,4346,New Development Bank plans joint investments i...,strong>BEIJING: The New Development Bank plans...,2017-03-27
4347,4347,Google powered Startup Weekend energizing prou...,strong>KARACHI: Karachi-based technology incub...,2017-03-27

In [39]:
c1

,title,publication,author,date,year,month,content
0,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,"When Walt Disney’s “Bambi” opened in 1942, cri..."
1,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,"Death may be the great equalizer, but it isn’t..."
2,"First, a Mixtape. Then a Romance. - The New Yo...",New York Times,Katherine Rosman,2016-12-31,2016.0,12.0,"Just how is Hillary Kerr, the founder of ..."
3,Weak Federal Powers Could Limit Trump’s Climat...,New York Times,Justin Gillis,2017-01-03,2017.0,1.0,With Donald J. Trump about to take control of ...
4,Can Carbon Capture Technology Prosper Under Tr...,New York Times,John Schwartz,2017-01-05,2017.0,1.0,"THOMPSONS, Tex. — Can one of the most promi..."
...,...,...,...,...,...,...,...
7839,USA swim enemy’s risky alibi: Michael Phelps s...,New York Post,Hannah Withiam,2016-08-12,2016.0,8.0,Did Yulia Efimova really go there? The Russi...
7840,"Icahn Enterprises on the edge of junk, S&P warns",New York Post,Josh Kosman,2016-02-19,2016.0,2.0,"Billionaire Carl Icahn, who last year may ne..."
7841,Socialite wants divorce moved to NYC in bid to...,New York Post,Julia Marsh,2016-07-30,2016.0,7.0,A wealthy socialite wants a Manhattan judge to...
7842,Cops douse pipeline protesters in subfreezing ...,New York Post,Associated Press,2016-11-21,2016.0,11.0,"CANNON BALL, N. D. — Authorities on Monday ..."
7843,Cutting corners and blatant greed caused East ...,New York Post,"Rebecca Rosenberg, Kevin Fasick, Tina Moore, N...",2016-02-11,2016.0,2.0,​Two building owners and three contractors wer...

In [40]:
c2

,title,publication,author,date,year,month,content
0,Santa: My paychecks sleigh,New York Post,Jenny Powers,2016-12-12,2016.0,12.0,Being Santa isn’t always the jolliest or most ...
1,"SpaceX launches satellite, spectacularly botch...",New York Post,Reuters,2016-01-18,2016.0,1.0,"VANDENBERG AIR FORCE BASE, Calif. — A Space..."
2,Broke ISIS fighters turn to peddling eggs on t...,New York Post,Yaron Steinbuch,2016-05-03,2016.0,5.0,ISIS jihadists have hatched a plan to raise ...
3,Dr. Oz sued over claims about ‘fake’ imported ...,New York Post,Reuters,2016-11-29,2016.0,11.0,A trade group representing olive oil importers...
4,Qatar buys a piece of Empire State Building,New York Post,Associated Press,2016-08-24,2016.0,8.0,Qatar’s sovereign wealth fund has made an icon...
...,...,...,...,...,...,...,...
7839,Our most memorable photos of 2016,Washington Post,NaN,2016-12-27,2016.0,12.0,“The photo of people entrenched at Sta...
7840,"With new monuments in Nevada, Utah, Obama adds...",Washington Post,NaN,2016-12-28,2016.0,12.0,President Obama on Wednesday created new...
7841,David Fahrenthold tells the behind-the-scenes ...,Washington Post,NaN,2016-12-29,2016.0,12.0,"“Arnold and Tim, if you’d come up, we’re..."
7842,2016 in Washington Post editorials,Washington Post,NaN,2016-12-29,2016.0,12.0,"2016 was a bumpy year, and The Post’s editoria..."
7843,She was on course for stardom. Then she entrus...,Washington Post,NaN,2016-12-30,2016.0,12.0,"PHOENIX, Ariz. — This was supposed t..."

In [45]:
from textblob import TextBlob
from wordcloud import WordCloud, STOPWORDS

def getSubjectivity(text):
    return TextBlob(text).sentiment.subjectivity

def getPolarity(text):
    return TextBlob(text).sentiment.polarity

business = business.dropna().copy()
us_news = us_news.dropna().copy()
tech = tech.dropna().copy()
world = world.dropna().copy()
c1 = c1.dropna().copy()
c2 = c2.dropna().copy()

business['headline'] = business['headline'].astype('string')
business['Subjectivity'] = business['headline'].apply(getSubjectivity)
business['Polarity'] = business['headline'].apply(getPolarity)

us_news['Heading'] = us_news['Heading'].astype('string')
us_news['Subjectivity'] = us_news['Heading'].apply(getSubjectivity)
us_news['Polarity'] = us_news['Heading'].apply(getPolarity)

tech['headline'] = tech['headline'].astype('string')
tech['Subjectivity'] = tech['headline'].apply(getSubjectivity)
tech['Polarity'] = tech['headline'].apply(getPolarity)

world['Heading'] = world['Heading'].astype('string')
world['Subjectivity'] = world['Heading'].apply(getSubjectivity)
world['Polarity'] = world['Heading'].apply(getPolarity)

c1['title'] = c1['title'].astype('string')
c1['Subjectivity'] = c1['title'].apply(getSubjectivity)
c1['Polarity'] = c1['title'].apply(getPolarity)

c2['title'] = c2['title'].astype('string')
c2['Subjectivity'] = c2['title'].apply(getSubjectivity)
c2['Polarity'] = c2['title'].apply(getPolarity)

In [25]:
def getInsight(score):
    if score < 0:
        return "Negative"
    elif score == 0:
        return "Neutral"
    else:
        return "Positive"

In [46]:
business

,Unnamed: 0,headline,category,short_description,date,Subjectivity,Polarity
0,0,REI Workers At Berkeley Store Vote To Unionize...,BUSINESS,They follow in the footsteps of REI workers in...,2022-08-25,0.400000,0.800000
1,1,Twitter Lawyer Calls Elon Musk 'Committed Enem...,BUSINESS,Delaware Chancery Judge Kathaleen McCormick de...,2022-07-20,0.000000,0.000000
2,2,"Starbucks Leaving Russian Market, Shutting 130...",BUSINESS,Starbucks' move follows McDonald's exit from t...,2022-05-23,0.000000,0.000000
3,3,Crypto Crash Leaves Trading Platform Coinbase ...,BUSINESS,Cryptocurrency trading platform Coinbase has l...,2022-05-12,0.000000,0.000000
4,4,"US Added 428,000 Jobs In April Despite Surging...",BUSINESS,"At 3.6%, unemployment nearly reached the lowes...",2022-05-06,0.000000,0.000000
...,...,...,...,...,...,...,...
7743,7743,Four More Bank Closures Mark the Week of Janua...,BUSINESS,The general pattern of the FDIC closing banks ...,2012-01-28,0.500000,0.500000
7744,7744,Everything You Need To Know About Overdraft Fe...,BUSINESS,Don't like keeping all of your money stuffed u...,2012-01-28,0.400000,0.000000
7745,7745,Walmart Waving Goodbye To Some Greeters,BUSINESS,"After 30 years, ""People Greeters"" will no long...",2012-01-28,0.000000,0.000000
7746,7746,"At World Economic Forum, Fear of Global Contag...",BUSINESS,"For decades, as crises have assailed developin...",2012-01-28,0.100000,0.100000
7747,7747,Positive Customer Experience: What's the Retur...,BUSINESS,"""Analysts at Adobe combined historical purchas...",2012-01-28,0.545455,0.227273

In [47]:
us_news

,Unnamed: 0,Heading,Article,Date,Subjectivity,Polarity
0,0,Over 4 Million Americans Roll Up Sleeves For O...,Health experts said it is too early to predict...,2022-09-23,0.000000,0.000000
1,1,"American Airlines Flyer Charged, Banned For Li...",He was subdued by passengers and crew when he ...,2022-09-23,0.200000,0.100000
2,2,Woman Who Called Cops On Black Bird-Watcher Lo...,Amy Cooper accused investment firm Franklin Te...,2022-09-22,0.266667,-0.233333
3,3,Cleaner Was Dead In Belk Bathroom For 4 Days B...,The 63-year-old woman was seen working at the ...,2022-09-22,0.400000,-0.200000
4,4,Reporter Gets Adorable Surprise From Her Boyfr...,"""Who's that behind you?"" an anchor for New Yor...",2022-09-22,0.750000,0.318182
...,...,...,...,...,...,...
1607,1607,World Bank announces 57 bln in financing for Afri,strong>WASHINGTON: The World Bank on Sunday an...,2017-03-20,0.000000,0.000000
1608,1608,Uber grounds self driving cars after accid,strong>WASHINGTON: Uber has grounded its fleet...,2017-03-26,0.000000,0.000000
1609,1609,Trump son in law 4 bn deal Chinese company,strong>WASHINGTON: A company owned by the fami...,2017-03-14,0.000000,0.000000
1610,1610,World Bank announces 57 bln in financing for Afri,strong>WASHINGTON: The World Bank on Sunday an...,2017-03-20,0.000000,0.000000
1611,1611,Uber grounds self driving cars after accid,strong>WASHINGTON: Uber has grounded its fleet...,2017-03-26,0.000000,0.000000

In [48]:
tech

,Unnamed: 0,index,headline,category,short_description,date,Subjectivity,Polarity
0,0,13,Twitch Bans Gambling Sites After Streamer Scam...,TECH,One man's claims that he scammed people on the...,2022-09-21,0.000000,0.000000
1,1,55,TikTok Search Results Riddled With Misinformat...,TECH,A U.S. firm that monitors false online claims ...,2022-09-14,0.000000,0.000000
2,2,103,Citing Imminent Danger Cloudflare Drops Hate S...,TECH,Cloudflare CEO Matthew Prince had previously r...,2022-09-05,0.900000,-0.800000
3,3,452,Instagram And Facebook Remove Posts Offering A...,TECH,Facebook and Instagram began removing some of ...,2022-06-28,0.000000,0.000000
4,4,529,Google Engineer On Leave After He Claims AI Pr...,TECH,Artificially intelligent chatbot generator LaM...,2022-06-12,0.000000,0.000000
...,...,...,...,...,...,...,...,...
2099,2099,209518,Google+ Now Open for Teens With Some Safeguards,TECH,"For the most part, teens' experience on Google...",2012-01-28,0.500000,0.000000
2100,2100,209519,Web Wars,TECH,"These ""Web Wars"" threaten to rage on for some ...",2012-01-28,0.000000,0.000000
2101,2101,209520,"First White House Chief Technology Officer, An...",TECH,He was appointed with a fair bit of fanfare as...,2012-01-28,0.207407,0.031481
2102,2102,209521,Watch The Top 9 YouTube Videos Of The Week,TECH,If you're looking to see the most popular YouT...,2012-01-28,0.500000,0.500000
2103,2103,209522,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,TECH,Verizon Wireless and AT&T are already promotin...,2012-01-28,0.875000,0.375000

In [49]:
world

,Unnamed: 0,Heading,Article,Date,Subjectivity,Polarity
0,0,Puerto Ricans Desperate For Water After Hurric...,More than half a million people remained witho...,2022-09-22,1.000000,-0.600000
1,1,Biden At UN To Call Russian War An Affront To ...,White House officials say the crux of the pres...,2022-09-21,0.000000,0.000000
2,2,World Cup Captains Want To Wear Rainbow Armban...,FIFA has come under pressure from several Euro...,2022-09-21,0.000000,0.000000
3,3,Man Sets Himself On Fire In Apparent Protest O...,The incident underscores a growing wave of pro...,2022-09-21,0.350000,0.050000
4,4,Fiona Threatens To Become Category 4 Storm Hea...,Hurricane Fiona lashed the Turks and Caicos Is...,2022-09-21,0.000000,0.000000
...,...,...,...,...,...,...
4343,4343,Chinese train manufacturer wins railcar bid in US,strong>BEIJING: A Chinese rail company has won...,2017-03-25,0.100000,0.150000
4344,4344,Laptop ban hits Dubai for 11m weekend traveller,strong>DUBAI: Dubai International Airport and ...,2017-03-25,0.000000,0.000000
4345,4345,Pak China relations not against any third coun...,"strong>BEIJING: Former Prime Minister, Shaukat...",2017-03-26,0.000000,0.000000
4346,4346,New Development Bank plans joint investments i...,strong>BEIJING: The New Development Bank plans...,2017-03-27,0.454545,0.136364
4347,4347,Google powered Startup Weekend energizing prou...,strong>KARACHI: Karachi-based technology incub...,2017-03-27,1.000000,0.800000

In [50]:
c1

,title,publication,author,date,year,month,content,Subjectivity,Polarity
0,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,"When Walt Disney’s “Bambi” opened in 1942, cri...",0.454545,0.136364
1,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,"Death may be the great equalizer, but it isn’t...",0.477273,-0.031818
2,"First, a Mixtape. Then a Romance. - The New Yo...",New York Times,Katherine Rosman,2016-12-31,2016.0,12.0,"Just how is Hillary Kerr, the founder of ...",0.393939,0.193182
3,Weak Federal Powers Could Limit Trump’s Climat...,New York Times,Justin Gillis,2017-01-03,2017.0,1.0,With Donald J. Trump about to take control of ...,0.539773,-0.119318
4,Can Carbon Capture Technology Prosper Under Tr...,New York Times,John Schwartz,2017-01-05,2017.0,1.0,"THOMPSONS, Tex. — Can one of the most promi...",0.454545,0.136364
...,...,...,...,...,...,...,...,...,...
7839,USA swim enemy’s risky alibi: Michael Phelps s...,New York Post,Hannah Withiam,2016-08-12,2016.0,8.0,Did Yulia Efimova really go there? The Russi...,0.000000,0.000000
7840,"Icahn Enterprises on the edge of junk, S&P warns",New York Post,Josh Kosman,2016-02-19,2016.0,2.0,"Billionaire Carl Icahn, who last year may ne...",0.000000,0.000000
7841,Socialite wants divorce moved to NYC in bid to...,New York Post,Julia Marsh,2016-07-30,2016.0,7.0,A wealthy socialite wants a Manhattan judge to...,0.100000,0.200000
7842,Cops douse pipeline protesters in subfreezing ...,New York Post,Associated Press,2016-11-21,2016.0,11.0,"CANNON BALL, N. D. — Authorities on Monday ...",0.000000,0.000000
7843,Cutting corners and blatant greed caused East ...,New York Post,"Rebecca Rosenberg, Kevin Fasick, Tina Moore, N...",2016-02-11,2016.0,2.0,​Two building owners and three contractors wer...,0.700000,-0.550000

In [51]:
c2

,title,publication,author,date,year,month,content,Subjectivity,Polarity
0,Santa: My paychecks sleigh,New York Post,Jenny Powers,2016-12-12,2016.0,12.0,Being Santa isn’t always the jolliest or most ...,0.000000,0.000000
1,"SpaceX launches satellite, spectacularly botch...",New York Post,Reuters,2016-01-18,2016.0,1.0,"VANDENBERG AIR FORCE BASE, Calif. — A Space...",0.900000,0.600000
2,Broke ISIS fighters turn to peddling eggs on t...,New York Post,Yaron Steinbuch,2016-05-03,2016.0,5.0,ISIS jihadists have hatched a plan to raise ...,0.000000,0.000000
3,Dr. Oz sued over claims about ‘fake’ imported ...,New York Post,Reuters,2016-11-29,2016.0,11.0,A trade group representing olive oil importers...,1.000000,-0.500000
4,Qatar buys a piece of Empire State Building,New York Post,Associated Press,2016-08-24,2016.0,8.0,Qatar’s sovereign wealth fund has made an icon...,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
718,"I loved being the mom of young kids, but I’m n...",Guardian,Mary Elizabeth Williams,2016-08-20,2016.0,8.0,It was a bedraggled summer afternoon more than...,0.733333,0.350000
719,The Standing Rock protests are a symbolic moment,Guardian,Neil Young,2016-11-28,2016.0,11.0,This past Thursday was Thanksgiving. A time wh...,0.000000,0.000000
722,Keith Scott shooting: video emerges of fatal e...,Guardian,Matthew Teague,2016-09-23,2016.0,9.0,A new video showing the killing of Keith Lamon...,0.000000,0.000000
723,Light fantastic: minimalism thrives in New Yor...,Guardian,Andy Battaglia,2016-09-09,2016.0,9.0,In the idyllic and also more than slightly ins...,0.684848,0.312121
724,Ralph Stanley remembered: bluegrass’s humble m...,Guardian,Mark Guarino,2016-06-24,2016.0,6.0,"Ralph Stanley, the last of the of bluegrass ...",0.400000,-0.200000

# The next blocks of code fetches Options data from Yahoo Finance

In [52]:
import yfinance as yf
import datetime

def options_chain(symbol):
    tk = yf.Ticker(symbol)
    
    expiration_dates = tk.options
    
    # Get options for each expiration
    options = pd.DataFrame()
    
    for e in expiration_dates:
        opt = tk.option_chain(e)
        #opt = pd.DataFrame().append(opt.calls).append(opt.puts)
        opt = pd.concat([opt.calls, opt.puts], axis = 0)
        opt[['expirationDate']] = e
        #options = options.append(opt, ignore_index = True)
        options = pd.concat([options, opt], axis = 0)
    
    options['expirationDate'] = pd.to_datetime(options['expirationDate']) + datetime.timedelta(days = 1)
    options['dte'] = (options['expirationDate'] - datetime.datetime.today()).dt.days / 365
    
    options['CALL'] = options['contractSymbol'].str[4:].apply(lambda x: "C" in x)
    
    options[['bid', 'ask', 'strike']] = options[['bid', 'ask', 'strike']].apply(pd.to_numeric)
    options['mark'] = (options['bid'] + options['ask'])
    
    return options

options_chain("GOOG")

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency,expirationDate,dte,CALL,mark
0,GOOG231201C00075000,2023-11-28 17:09:58+00:00,75.0,61.95,61.35,61.50,-1.149998,-1.822500,23.0,4,2.679691,True,REGULAR,USD,2023-12-02,0.005479,True,122.85
1,GOOG231201C00085000,2023-11-07 15:28:08+00:00,85.0,47.40,51.35,51.50,0.000000,0.000000,3.0,3,2.164067,True,REGULAR,USD,2023-12-02,0.005479,True,102.85
2,GOOG231201C00095000,2023-11-17 14:36:18+00:00,95.0,42.65,41.35,41.50,0.000000,0.000000,2.0,2,1.695314,True,REGULAR,USD,2023-12-02,0.005479,True,82.85
3,GOOG231201C00100000,2023-11-29 16:22:34+00:00,100.0,37.44,36.45,36.70,-2.790001,-6.935125,2.0,53,1.667970,True,REGULAR,USD,2023-12-02,0.005479,True,73.15
4,GOOG231201C00105000,2023-11-27 16:21:52+00:00,105.0,32.89,31.45,31.60,0.000000,0.000000,1.0,66,1.339847,True,REGULAR,USD,2023-12-02,0.005479,True,63.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,GOOG260116P00150000,2023-11-29 18:44:30+00:00,150.0,24.25,22.55,26.50,0.670000,2.841391,155.0,73,0.228447,True,REGULAR,USD,2026-01-17,2.134247,False,49.05
18,GOOG260116P00160000,2023-11-15 15:32:48+00:00,160.0,31.00,28.05,32.95,0.000000,0.000000,NaN,5,0.220162,True,REGULAR,USD,2026-01-17,2.134247,False,61.00
19,GOOG260116P00165000,2023-11-17 17:03:51+00:00,165.0,33.50,31.55,35.95,0.000000,0.000000,1.0,2,0.209145,True,REGULAR,USD,2026-01-17,2.134247,False,67.50
20,GOOG260116P00175000,2023-11-07 15:59:18+00:00,175.0,43.85,38.60,43.45,0.000000,0.000000,NaN,0,0.200020,True,REGULAR,USD,2026-01-17,2.134247,False,82.05
21,GOOG260116P00185000,2023-11-17 17:23:32+00:00,185.0,49.50,46.50,51.30,0.000000,0.000000,1.0,4,0.184914,True,REGULAR,USD,2026-01-17,2.134247,False,97.80